body{
    background-color: #464E2E;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #CDB699;
    padding-left: 50px;
    color:#464E2E;
}
.EXPLICACION {
    background-color: #CDB699;
    padding-left: 50px;
    color:#464E2E;
}
.cred {
    background-color: #CDB699;
    padding-left: 50px;
    color:#464E2E;
}