
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;

}
.logo{
    margin-left: 40px;
    height: 150px;
    display: inline;
}
.title{
    display: inline;
   justify-content: flex-end;
    
}

.imgsSEC{
    height: 200px;
    display:flex;
}
.cap1{
    margin-left: 18px;
    font-size: 40px;
 
    font-weight: 500;
    float: right;
}
.top5 {
    margin-left: 18px;
    font-size: 35px;
    padding-bottom: 25px;
    font-weight: 600;
    padding: 15;
   float: right;

}
body{
    background-color: #464E2E;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    justify-content:space-between;
    background-color: #CDB699;
    padding: 30px;
    color:#464E2E;
}
.EXPLICACION {
    background-color: #CDB699;
    padding: 50px;
    color:#464E2E;
    
}
.tituloInd {
    font-weight: 300px;
    font-size: large;
}
.creds {
    display: flex;
    justify-content: space-evenly;
    background-color: #CDB699;
    margin: 40px;
    color:#464E2E;
}
.creds p {
    font-size: 30px;
}
.elenco p {
    font-size: 30px;
}
.elenco {
    display: flex;
    justify-content: space-evenly;
    background-color: #CDB699;
    margin: 40px;
    padding: 10px;
    color:#464E2E;
}

.bandasonora{
    
    text-align: center;
    background-color: #CDB699;
    margin-left: 60px;
    margin-right: 60px;
    margin: 15px;
padding: 20px;
padding-left: 25px;
padding-right: 25px;
    color:#464E2E;
    display: flex;
    justify-content: space-evenly;
}
.bandasonora ul{
    list-style-type: none;
}
.banda2 {
    text-align: center;
    background-color: #CDB699;
   
    color:#464E2E;
    display: flex;
    justify-content: space-evenly;
}


#navegador{
   
    padding: 10px;
  display: flex;
    justify-content: space-evenly;
    background-color: #733C3C;
    color: #CDB699;
 
}
#navegador ul{
    color: #CDB699;
    list-style-type: none;  
   
    
}
#navegador li{
    display: inline-flex; 
}
.detalle {
    padding-left: 70px;
}
.fotoselenco{
    color: #CDB699;
    background-color: #733C3C;
    padding: 10px;
    text-align: center;
    display: block;
   
    margin: 40px;
 

}
.fotoselenco img{
    height: 200px;
   align-items: center;
   margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

}
.fotoselenco h6{
   font-size: 20px;
 
    
}
.fotoselenco p{
    display: inline-block;
    justify-content:space-between ;

}
.ubicacionSEC{
    background-color: #464E2E;
    color: #CDB699;
    height: 80px;
    font-size: larger;
    margin-left: 20px;
    padding-top: 23px;
    display: inline-block;
    
}

.ubicacionSEC p{
    background-color: #733C3C;
    padding: 10px;
     display:flex;
 }
.OPCIONESsec {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
   height: 200px;
padding-bottom: 50px;
    width: 100%;
 
}
footer{
    display: flex;
    justify-content:space-evenly;
    background-color: #CDB699;
    color: #464E2E;
    width: 100%;
    padding: 10px;
    margin-top: 75px;
    text-align: center;

}
article{
    color:#CDB699 ;
    padding: 15px;
}
#navegador a{
    color: #CDB699
}

a{
    color: #464E2E;
}
a:hover{
    color: #733C3C;
  }
#navegador a:hover{
    color: #464E2E;
  }
  
  a:active{
    color: rgb(255, 0, 0);
  }
.icon{
    display: none;
}
h3{
    display: none;
}
.example-image {
    height: 210px;
    display: inline-block;
  
    padding: 10px;
    justify-content:space-evenly;
    align-items: center;
   
}
.robb {
    display: flex;
    width: fit-content;
    text-align: left ;
    margin: 20px;
    
    height: 300px;
}
.contacto {
    display: flex;
    color: #CDB699;
    padding: 10px;
    padding-left: 20px;
    margin: 20px;
    background-color: #733C3C;
    text-align: center;
    display: flex;
    width: auto;
}
.form{
    text-align: center;
    padding: 30px;
    padding-top: 70px;
}

@media  (max-width:480px) {
    
   #navegador div, #navegador a {
        flex: 1 0 50%;
    }
   #navegador nav {
        flex-basis: 100%;

    }
    #navegador ul{
        display: none;
       
    }
    #navegador.responsive ul{
       display: block;
      
    text-align: center;    
    width: 100%;
    margin: 10px;
        height: 60px;
    }
  .title a {
      text-align: center;
  }
    .icon {display: block;
        align-content: center;
background-color:#733C3C ;
color: #CDB699;}
    body {display:block;}
    .example-image {
        height: auto;
        display: inline;
        padding: 40px;
        width: 100%;
        align-items: center;}
        .cap1{
            display: none;
        }
        .top5 {
            display: none;}
            .logo{
                margin-left: 0px;
                width: 100%;
                
                display: inline;
            }
            h3{
                display: block;
                text-align: center;
                padding: 4px;
                font-size: 24px;
                font-weight: 200px;
                color: #CDB699;
             background-color: #733C3C;
            }
            header {
                justify-content:space-between;
                background-color: #CDB699;
                padding: 15px;
                color:#464E2E;
            }
            footer{
                display: flex;
                justify-content:space-evenly;
                background-color: #CDB699;
                color: #464E2E;
                width: 100%;
                padding: 10px;
                margin-top: 15px;
                text-align: center;
            
            }
            .ubicacionSEC p{
               background-color: #733C3C;
               padding: 10px;
                display:inline;
            }
            .OPCIONESsec {
                display: inline;
                padding-top: 15px;
               height: 100px;
               margin-bottom: 10px;
            padding-bottom: 50px;
                width: 90%;
             
            }
            .imgsSEC {
                padding-left: 15px;
                margin:auto ;
                padding-top: 10px;
            }
           
            .fotoselenco{
                padding-top: 0px;
                text-align: center;
                width: 90%;
               margin-left: 20px;
               margin-right: 10px;
               
            
            }
            .fotoselenco img{
                height: 200px;
                margin-top: 0px;
                display: block;
               text-align: center;
        
               
            }
            .fotoselenco h6{
               font-size: 20px;
              
                
            }
            .fotoselenco p{
                display: block;
                
                
            }
            .creds {
                display: block;
                margin: 15px;
                padding: 10px;
                text-align: center;
               
            }
            .elenco{
                display: block;
                margin: 15px;
                padding: 10px;
                text-align: center;
            }
       
        .bandasonora{
            display: block;
        }
            .BANDA {  
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            margin: 5px;
            padding: 5px;
            padding-left: 5px;
            padding-right: 5px;
            display: block;
            justify-content:baseline;
        }
        .banda2 {
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            margin: 5px;
            padding: 5px;
            padding-left: 5px;
            padding-right: 5px;
            display: block;
            justify-content:baseline;
        }
        .spotifi {
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
            margin: 5px;
            padding: 5px;
            padding-left: 5px;
            padding-right: 5px;
            display: block;
            width: 100%;
            justify-content:baseline;
        }
        #navegador li{
     display: block;
        }
        .detalle {
            padding-left: 0px;
        }
        .robb {
            display: inline;
            width: fit-content;
            text-align: center ;
            margin: 0px;
            height: 200px;
        }
        .contacto {
            display: block;
            padding: 20px;
            text-align: center;
          
            width: auto;
        }
        .form{
            text-align: center;
            padding: 30px;
            padding-top: 20px;
        }
}